@use 'assets/styles';
@use '@gear-js/ui/variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
}

main {
  flex: 1;
  padding: 30px 0 60px;
  position: relative; // for loaders
}

body {
  background: $bgColor url(assets/images/bg.svg);
}
